		<script src="/_includes/assets/porto/vendor/jquery/jquery.min.js"></script>
		<script src="/_includes/assets/porto/vendor/jquery.appear/jquery.appear.min.js"></script>
		<script src="/_includes/assets/porto/vendor/jquery.easing/jquery.easing.min.js"></script>
		<script src="/_includes/assets/porto/vendor/jquery.cookie/jquery.cookie.min.js"></script>
		<script src="/_includes/assets/porto/vendor/popper/umd/popper.min.js"></script>
		<script src="/_includes/assets/porto/vendor/bootstrap/js/bootstrap.min.js"></script>
		<script src="/_includes/assets/porto/vendor/common/common.min.js"></script>
		<script src="/_includes/assets/porto/vendor/jquery.validation/jquery.validate.min.js"></script>
		<script src="/_includes/assets/porto/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
		<script src="/_includes/assets/porto/vendor/jquery.gmap/jquery.gmap.min.js"></script>
		<script src="/_includes/assets/porto/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
		<script src="/_includes/assets/porto/vendor/isotope/jquery.isotope.min.js"></script>
		<script src="/_includes/assets/porto/vendor/owl.carousel/owl.carousel.min.js"></script>
		<script src="/_includes/assets/porto/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
		<script src="/_includes/assets/porto/vendor/vide/jquery.vide.min.js"></script>
		<script src="/_includes/assets/porto/vendor/vivus/vivus.min.js"></script>
		<script src="/_includes/assets/porto/js/theme.js"></script>
		<script src="/_includes/assets/porto/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="/_includes/assets/porto/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="/_includes/assets/porto/js/views/view.contact.js"></script>
		<script src="/_includes/assets/porto/js/demos/demo-medical.js"></script>
		<script src="/_includes/assets/porto/js/custom.js"></script>
		<script src="/_includes/assets/porto/js/theme.init.js"></script>