				<footer id="footer" class="m-0">
					<div class="container">
						<div class="row pt-5 pb-4">
							<div class="col-md-4 col-lg-3 mb-2">
								<h4 class="mb-4">Location</h4>
								<p>
									Colorado Pulmonary Intensivists, PC<br>
									15 West Dry Creek Circle<br>
									Littleton, CO 80120
								</p>
							</div>
							<div class="col-md-4 col-lg-3">
								<h4 class="mb-4">Opening Hours</h4>
								<div class="info custom-info">
									<span>Mon-Fri</span>
									<span>8:30 am to 5:00 pm</span>
								</div>
								<div class="info custom-info">
									<span>Saturday</span>
									<span>Closed</span>
								</div>
								<div class="info custom-info">
									<span>Sunday</span>
									<span>Closed</span>
								</div>
								<br>
							</div>
							<div class="col-md-4 col-lg-3">
								<div class="contact-details">
									<h4 class="mb-4">Office Line</h4>
									<a class="text-decoration-none" href="tel:3039521100">
										<strong class="font-weight-light">(303) 952-1100</strong>
									</a>
								</div>
								<br>
							</div>
							<div class="col-lg-2 text-md-center text-lg-left ml-lg-auto">
								<h4 class="mb-4">Patient Portal</h4>
								<p>
									<a href="#" target="_blank" class="h5">Log in here</a>
								</p>
							</div>
						</div>
					</div>
					<div class="footer-copyright pt-3 pb-3">
						<div class="container">
							<div class="row">
								<div class="col-lg-12 text-center m-0">
									<p>© Copyright 2019 Colorado Pulmonary Intensivists, PC</p>
								</div>
							</div>
						</div>
					</div>
				</footer>