<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or renderData.title or metadata.title }}</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <!--<style>{{ css | cssmin | safe }}</style>-->
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="assets/porto/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/porto/vendor/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="assets/porto/vendor/animate/animate.min.css">
  <link rel="stylesheet" href="assets/porto/vendor/simple-line-icons/css/simple-line-icons.min.css">
  <link rel="stylesheet" href="assets/porto/vendor/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/porto/vendor/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="assets/porto/vendor/magnific-popup/magnific-popup.min.css">
  <link rel="stylesheet" href="assets/porto/css/theme.css">
  <link rel="stylesheet" href="assets/porto/css/theme-elements.css">
  <link rel="stylesheet" href="assets/porto/css/theme-blog.css">
  <link rel="stylesheet" href="assets/porto/css/theme-shop.css">
  <link rel="stylesheet" href="assets/porto/vendor/rs-plugin/css/settings.css">
  <link rel="stylesheet" href="assets/porto/vendor/rs-plugin/css/layers.css">
  <link rel="stylesheet" href="assets/porto/vendor/rs-plugin/css/navigation.css">
  <link rel="stylesheet" href="assets/porto/css/demos/demo-medical.css">
  <link rel="stylesheet" href="assets/porto/css/skins/skin-medical.css"> 
  <link rel="stylesheet" href="assets/porto/css/custom.css">
  <script src="assets/porto/vendor/modernizr/modernizr.min.js"></script>


</head>
