<section class=" border-0 section">
<section class="container">
<h2 class="font-weight-semibold mb-3">Services</h2>
<div class="row">
	{% for service in serviceslisthp | reverse %}
		<article{% if service.url == url %} data-current="current item"{% endif %} class="col-12 col-md-6">
			<h4 class="mb-2">
				<a href="{{ service.url | url }}">
					{% if service.data.title %}
						{{ service.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h4>
			{% if service.data.summary %}
				<p>
					{{ service.data.summary }}
				</p>
			{% endif %}
		</article>
	{% endfor %}
</div>	
</section>
</section>