<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
	<div class="body">
		{% include "components/header.njk" %}
		<main role="main" class="main">
			<div class="layoutContent">
				{{ layoutContent | safe }}
			</div>
		</main>
		{% include "components/footer.njk" %}
	</div>
	{% include "components/foot.njk" %}
	</body>
</html>
