---
layout: layouts/base.njk
section: contact
---
				<section class="page-header page-header-modern bg-color-primary page-header-md">
					<div class="container">
						<div class="row">
							<!-- // Title -->
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1>{{ title }}</h1>
							</div>
						</div>
					</div>
				</section>

<div class="container layoutContent">
{{ layoutContent | safe }}
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<form name="contact" data-netlify="true">
			<div class="form-group">
				<label for="name">Name</label> 
				<input id="name" name="name" placeholder="First and last name" type="text" class="form-control" required="required">
			</div>
			<div class="form-group">
				<label for="phone">Phone number</label> 
				<input id="phone" name="phone" type="text" class="form-control" required="required">
			</div>
			<div class="form-group">
				<label for="email">Email</label> 
				<input id="email" name="email" type="text" class="form-control" required="required">
			</div>
			<div class="form-group">
				<label for="dob">Date of birth</label> 
				<input id="dob" name="dob" placeholder="mm/dd/yyyy" type="text" class="form-control" required="required">
			</div>
			<div class="form-group">
				<label for="reason">Reason for appointment</label> 
				<textarea id="reason" name="reason" cols="40" rows="3" class="form-control" required="required"></textarea>
			</div> 
			<div class="form-group">
				<button name="submit" type="submit" class="btn btn-primary">Submit</button>
			</div>
			</form>
		</div>
	</div>
</div>