<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
	{% include "components/head.njk" %}
	<body>
	<div class="body">
		{% include "components/header.njk" %}
		<main role="main" class="main">

			<div class="slider-container rev_slider_wrapper" style="height: 650px;">
				<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'navigation': {'bullets': {'enable': true, 'direction': 'vertical', 'h_align': 'right', 'v_align': 'center', 'space': 5}, 'arrows': {'enable': false}}}">
					<ul>
						<li data-transition="fade">
							<img src="static/img/slide-medical-1.jpg"  
								alt=""
								data-bgposition="center center" 
								data-bgfit="cover" 
								data-bgrepeat="no-repeat"
								class="rev-slidebg">

							<div class="tp-caption main-label"
								data-x="left" data-hoffset="25"
								data-y="center" data-voffset="-5"
								data-start="1500"
								data-whitespace="nowrap"						 
								data-transform_in="y:[100%];s:500;"
								data-transform_out="opacity:0;s:500;"
								style="z-index: 5; font-size: 1.5em; text-transform: uppercase;"
								data-mask_in="x:0px;y:0px;">to take care of you.</div>

							<div class="tp-caption main-label"
								data-x="left" data-hoffset="25"
								data-y="center" data-voffset="-55"
								data-start="500"
								style="z-index: 5; text-transform: uppercase; font-size: 52px;"
								data-transform_in="y:[-300%];opacity:0;s:500;">We're here</div>
							
							<div class="tp-caption bottom-label"
								data-x="left" data-hoffset="25"
								data-y="center" data-voffset="40"
								data-start="2000"
								style="z-index: 5; border-bottom: 1px solid #fff; padding-bottom: 3px;"
								data-transform_in="y:[100%];opacity:0;s:500;" style="font-size: 1.2em;">Respect. Compassion. Commitment.</div>
						</li>
					</ul>
				</div>
			</div>

            <section class="section-custom-medical">
				<div class="container">
					<div class="row medical-schedules">
						<div class="col-xl-3 box-one bg-color-primary appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="0">
							<div class="feature-box feature-box-style-2 align-items-center p-4">
								<div class="feature-box-icon p-0">
									<img src="_includes/assets/porto/img/demos/medical/icons/medical-icon-heart.png" alt class="img-fluid pt-1" />
								</div>
								<div class="feature-box-info">
									<h4 class="m-0 p-0">Pulmonary Intensivists</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 box-two bg-color-tertiary appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
							<h5 class="m-0">
								<a href="demo-medical-doctors.html" title="">
									Get directions
									<i class="icon-arrow-right-circle icons"></i>
								</a>
							</h5>
						</div>
						<div class="col-xl-3 box-three bg-color-primary appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="1200">
							<div class="expanded-info p-4 bg-color-primary">
								<div class="info custom-info">
									<span>Mon-Fri</span>
									<span>8:30 am to 5:00 pm</span>
								</div>
								<div class="info custom-info">
									<span>Saturday</span>
									<span>9:30 am to 1:00 pm</span>
								</div>
								<div class="info custom-info">
									<span>Sunday</span>
									<span>Closed</span>
								</div>
							</div>
							<h5 class="m-0">
								Opening Hours
								<i class="icon-arrow-right-circle icons"></i>
							</h5>
						</div>
						<div class="col-xl-3 box-four bg-color-secondary p-0 appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="1800">
							<a href="tel:+3039521100" class="text-decoration-none">
								<div class="feature-box feature-box-style-2 m-0">
									<div class="feature-box-icon">
										<i class="icon-call-out icons"></i>
									</div>
									<div class="feature-box-info">
										<label class="font-weight-light">Office line</label>
										<strong class="font-weight-normal">(303) 952-1100</strong>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="row mt-5 mb-5 pt-3 pb-3">
						<div class="col-md-8 layoutContent">
							{{ layoutContent | safe }}
						</div>
						<div class="col-md-4">
							<img src="img/demos/medical/gallery/gallery-1.jpg" alt class="img-fluid box-shadow-custom" /> 
						</div>
					</div>
				</div>
			</section>
		</main>
		{% include "components/footer.njk" %}
	</div>
	{% include "components/foot.njk" %}
	</body>
</html>
