---
layout: layouts/base.njk
section: resources
permalink: /resources/index.html
---
				<section class="page-header page-header-modern bg-color-primary page-header-md">
					<div class="container">
						<div class="row">
							<!-- // Title -->
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1>{{ title }}</h1>
							</div>
						</div>
					</div>
				</section>

<div class="container">
<div class="row">
<div class="col">
<p class="lead">CPI's physicians and medical staff are committed to providing the finest quality care to our patients in a healing, unhurried and comfortable environment. As a team, we deliver personalized care to each of our patients. We offer our patients options and explain the process of each procedure so they always know what to expect. We believe in educating our patients as we treat them.</p>
</div>
</div>
</div>

<div class="layoutContent">
{{ layoutContent | safe }}
</div>

{% set resourceslist = collections.resources %}
{% include "components/resourceslist.njk" %}
